CMakeLists.txt.user*
debian/files
debian/tmp
debian/hide*
debian/app-template/
debian/*.debhelper.log
debian/.debhelper
debian/*.substvars
.build
Makefile
CMakeCache.txt
CMakeFiles/
*.cmake
*.gmo
*.mo
*.desktop
*.desktop.in
*.desktop.in.in.h
.excludes
build/
debian/debhelper-build-stamp
obj-*/
.clickable